.navbar {
  font-family: 'Reenie Beanie', cursive;
  display: flex;
  justify-content: center;
  font-size: xx-large;
 color: white;
}


body {
  background-color: black !important;
}
.card {
  margin-bottom: 10;
    color: black;
    box-sizing: content-box;
  }

  .card-header {

    color: black;
    justify-content: space-between;

  }

  .add-item {
    margin-top: 20px;
    height: 100px;
    margin-top: 30px;
  }
    .input-group {
      height: 60px;
    }

  .read-list {
    margin: 100px auto;
    padding-bottom: 100px;
    border-bottom: 30px #545149 solid;
    width:100%;
    word-break: break-word;
    text-align: center;
    font-family: fantasy;
    }


  .watch-list {
    margin: 100px auto;
    padding-bottom: 20px;
    border-bottom: 4px #545149 solid;
    width: 97%;
    word-break: break-word;
    text-align: center;
    font-family: fantasy;
    }


  .buy-list {
    margin: 100px auto;
    padding-bottom: 20px;
    border-bottom: 4px #545149 solid;
    width: 97%;
    word-break: break-word;
    text-align: center;
    font-family: fantasy;
    }


  .eat-list {
    margin: 100px auto;
    padding-bottom: 20px;
    border-bottom: 4px #545149 solid;
    width: 97%;
    word-break: break-word;
    text-align: center;
    font-family: fantasy;

    }

    .add-btn {
      background-color: white;
      border-color: white;
      color: black;
    }
